body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 200px;
    background-image: url("https://img.freepik.com/free-vector/global-virtual-currency-sign-techno-concept-background-design_1017-52482.jpg?t=st=1723660944~exp=1723664544~hmac=ce34dc50927cd37bae9d3994dd37513be74e128931599a40d30abac1a55c0342&w=2000");
}

.container {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.exchange-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"], select {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
